 .u-section-1 {
  background-image: none;
  min-height: 789px;
}

.u-section-1 .u-shape-1 {
  height: 290px;
  margin-top: 292px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  height: 793px;
  margin-top: -584px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-slider-1 {
  width: 478px;
  min-height: 362px;
  margin: -602px auto 60px calc(((100% - 1140px) / 2) + -32px);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 31px;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 24px auto 0 0;
  padding: 20px 43px 20px 42px;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 32px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 28px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 12px 0 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 40px auto 0 28px;
  padding: 20px 43px 20px 42px;
}

.u-section-1 .u-carousel-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 40px 46px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 14px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 34px auto 0 14px;
  padding: 20px 43px 20px 42px;
}

.u-section-1 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 887px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
    margin-left: calc(((100% - 940px) / 2) + -32px);
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 824px;
  }

  .u-section-1 .u-slider-1 {
    margin-left: calc(((100% - 720px) / 2) + -32px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 65px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 60px 30px 65px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 698px;
  }

  .u-section-1 .u-slider-1 {
    margin-left: calc(((100% - 540px) / 2) + -32px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 65px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 613px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  min-height: 691px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 691px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 507px;
  min-height: 614px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.4;
  font-style: italic;
  font-weight: 400;
  margin: 15px 155px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 45px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 35px auto 0 105px;
  padding: 20px 46px 20px 44px;
}

.u-section-2 .u-image-1 {
  min-height: 691px;
  background-image: url("images/1316404337-01.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 570px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-2 .u-group-1 {
    width: 407px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 55px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 5px;
  }

  .u-section-2 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 437px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-1 {
    width: 312px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 437px;
    background-position: 30.15% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 678px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 50px 50px 50px 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 578px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 364px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 781px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 76px 68px 0 214px;
}

.u-section-3 .u-text-2 {
  width: 639px;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1250px;
  margin: 93px -55px 51px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 377px;
  grid-gap: 20px 20px;
  grid-auto-columns: calc(25% - 15px);
}

.u-section-3 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c72653bd-4385-55f5-27f2-b5f458e7dcc2.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  transition-duration: 0.5s;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cropped-view-professional-serious-finance-manager-holding-calculator-hands-checking-company-month-s-profits_176420-7931.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  transition-duration: 0.5s;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/handshake-close-up-executives_1098-1384-19.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  transition-duration: 0.5s;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-icon-3 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-3 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/hftgyjyt.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  transition-duration: 0.5s;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-3 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg");
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  transition-duration: 0.5s;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-3 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-3 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cropped-view-of-hands-typing-on-laptop_1262-3196.jpg");
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  transition-duration: 0.5s;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-icon-6 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 82px;
    margin-right: 0;
    width: 712px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  }

  .u-section-3 .u-text-3 {
    letter-spacing: normal;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    height: 111px;
    width: 111px;
  }

  .u-section-3 .u-text-4 {
    letter-spacing: normal;
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-icon-2 {
    height: 111px;
    width: 111px;
  }

  .u-section-3 .u-text-5 {
    letter-spacing: normal;
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-icon-3 {
    height: 111px;
    width: 111px;
  }

  .u-section-3 .u-text-6 {
    letter-spacing: normal;
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-icon-4 {
    height: 111px;
    width: 111px;
  }

  .u-section-3 .u-text-7 {
    letter-spacing: normal;
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-icon-5 {
    height: 111px;
    width: 111px;
  }

  .u-section-3 .u-text-8 {
    letter-spacing: normal;
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-icon-6 {
    height: 111px;
    width: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-auto-columns: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }
}

.u-section-3 .u-text-8,
.u-section-3 .u-text-8:before,
.u-section-3 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-8 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-8 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before,
.u-section-3 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before,
.u-section-3 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-7 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-7 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
  min-height: 670px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  margin: 1px calc(((100% - 1140px) / 2) + 69px) 0 calc(((100% - 1140px) / 2) + 159px);
}

.u-section-4 .u-shape-1 {
  height: 366px;
  margin-top: 198px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -518px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 80px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 332px;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -24px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 329px;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 78px;
  width: 78px;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 83px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 83px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 329px;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-3 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 9px 0 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 326px;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-4 {
  height: 78px;
  width: 78px;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 86px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 749px;
  }

  .u-section-4 .u-text-1 {
    width: 822px;
    margin-left: calc(((100% - 940px) / 2) + 28px);
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 271px;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 68px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 68px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 271px;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 269px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 71px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1187px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-1 {
    height: 825px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 101px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 104px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 104px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 109px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1596px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-1 {
    height: 1165px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 156px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 156px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 164px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1623px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-1 {
    height: 1278px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 96px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 98px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 98px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 103px;
  }
}

.u-section-4 .u-layout-cell-2,
.u-section-4 .u-layout-cell-2:before,
.u-section-4 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-3,
.u-section-4 .u-layout-cell-3:before,
.u-section-4 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-6,
.u-section-4 .u-layout-cell-6:before,
.u-section-4 .u-layout-cell-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-7,
.u-section-4 .u-layout-cell-7:before,
.u-section-4 .u-layout-cell-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-layout-cell-7.u-layout-cell-7.u-layout-cell-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-7.u-layout-cell-7.u-layout-cell-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
  min-height: 519px;
}

.u-section-5 .u-shape-1 {
  height: 366px;
  margin-top: 1px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -518px auto -25px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 80px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 332px;
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-1 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 329px;
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-2 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 83px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 83px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 329px;
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-3 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 9px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 326px;
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-4 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 86px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 749px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(85, 92, 102) !important;
    padding: 18px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 271px;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-5 .u-icon-2 {
    color: rgb(85, 92, 102) !important;
    padding: 18px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 68px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 68px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 271px;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(85, 92, 102) !important;
    padding: 18px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 269px;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(85, 92, 102) !important;
    padding: 18px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 71px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1187px;
  }

  .u-section-5 .u-shape-1 {
    height: 825px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 101px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 104px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 104px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 109px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1596px;
  }

  .u-section-5 .u-shape-1 {
    height: 1165px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 156px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 156px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 164px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1623px;
  }

  .u-section-5 .u-shape-1 {
    height: 1278px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 96px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 98px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 98px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 103px;
  }
}

.u-section-5 .u-layout-cell-2,
.u-section-5 .u-layout-cell-2:before,
.u-section-5 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-3,
.u-section-5 .u-layout-cell-3:before,
.u-section-5 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-6,
.u-section-5 .u-layout-cell-6:before,
.u-section-5 .u-layout-cell-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-7,
.u-section-5 .u-layout-cell-7:before,
.u-section-5 .u-layout-cell-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-layout-cell-7.u-layout-cell-7.u-layout-cell-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-7.u-layout-cell-7.u-layout-cell-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 320px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  width: 836px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: -52px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  width: 711px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: -64px 138px 60px 152px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 203px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-6 .u-text-5 {
    width: 711px;
    margin-left: 52px;
    margin-right: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-4 {
    width: 540px;
  }

  .u-section-6 .u-text-5 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-4 {
    width: 340px;
  }

  .u-section-6 .u-text-5 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 794px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 891px;
  margin: 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 654px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-7 .u-text-1 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 3rem;
}

.u-section-7 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-7 .u-text-3 {
  margin: 0 30px;
}

.u-section-7 .u-text-4 {
  background-image: none;
  margin: 48px 23px 0 38px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 90px 89px 0 auto;
  padding: 10px 60px 10px 58px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 0;
}

.u-section-7 .u-text-5 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  font-size: 3rem;
}

.u-section-7 .u-text-6 {
  margin: 23px 7px 0;
}

.u-section-7 .u-text-7 {
  width: 218px;
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  margin: 65px -45px 0 48px;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 49px 89px 0 auto;
  padding: 10px 60px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-cell-1 {
    transition-duration: 0.5s;
  }

  .u-section-7 .u-text-1 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 0 30px;
  }

  .u-section-7 .u-text-4 {
    width: 422px;
  }

  .u-section-7 .u-btn-1 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-7 .u-layout-cell-2 {
    transition-duration: 0.5s;
    margin-bottom: 82px;
  }

  .u-section-7 .u-text-5 {
    transition-duration: 0.5s;
    margin: 27px -12px 0 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-btn-2 {
    padding-right: 41px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 332px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 4px;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: auto;
    margin-right: 4px;
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
    padding-left: 117px;
    padding-right: 117px;
  }
}

.u-section-7 .u-text-1,
.u-section-7 .u-text-1:before,
.u-section-7 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-text-1 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-5,
.u-section-7 .u-text-5:before,
.u-section-7 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-container-layout:hover .u-text-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-text-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-8 .u-sheet-1 {
  min-height: 301px;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 26px auto 15px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 153px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 153px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 153px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 153px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 153px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-image-5 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 947px;
  }
} .u-section-9 {
  min-height: 425px;
}

.u-section-9 .u-image-1 {
  height: 311px;
  margin-top: 69px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-group-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 24px 0 0 36px;
}

.u-section-9 .u-icon-1 {
  width: 171px;
  height: 171px;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    transition-duration: 0.5s;
    width: 502px;
    min-height: 358px;
    margin: -379px auto 60px calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-9 .u-icon-1 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 11px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 11px);
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 98px;
  }
}

.u-section-9 .u-group-1,
.u-section-9 .u-group-1:before,
.u-section-9 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 261px;
}

.u-section-10 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -29px 11px 0 auto;
  padding: 10px 40px 10px 38px;
}

.u-section-10 .u-icon-1 {
  font-size: 3em;
}

.u-section-10 .u-social-icons-1 {
  height: 65px;
  min-height: 16px;
  width: 283px;
  min-width: 136px;
  margin: -6px auto 60px;
}

.u-section-10 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-10 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-10 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-top: 79px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: -23px;
    margin-right: 49px;
    padding: 21px 42px 21px 41px;
  }

  .u-section-10 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
  }
}